- content_for(:title, 'FamilyBlogs Home')

.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %img{:alt => "slide image", :src => "http://placehold.it/1000x400&text=Slide Image"}/
    / End Desktop Slider

    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{:src => "http://placehold.it/1000x600&text=For Small Screens"}/
    / End Mobile Header
%br/
.row
  .large-12.columns
    .row
      / Thumbnails
      .large-4.small-6.small-centered.large-uncentered.columns
        %img{:src => "http://placehold.it/300x300&text=Thumbnail"}/
        %h6.panel= t :valeriy
      .large-4.small-6.small-centered.large-uncentered.columns
        %img{:src => "http://placehold.it/300x300&text=Thumbnail"}/
        %h6.panel= t :svetlana
      .large-4.small-6.small-centered.large-uncentered.columns
        %img{:src => "http://placehold.it/300x300&text=Thumbnail"}/
        %h6.panel= t :yaroslava
      / End Thumbnails
.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4 Header
              %hr/
              %h5.subheader
                Place where you can read blogs from our family members
              .show-for-small
                %a.small.radius.button{:href => "#"}
                  = t 'valeriy'
                %a.small.radius.button{:href => "#"}
                  = t 'svetlana'
                %a.small.radius.button{:href => "#"}
                  = t 'yaroslava'
            .large-6.small-6.columns
              %p
                Click on pictures above or on buttons below to read blogs.
      .large-4.columns.hide-for-small
        %h4 Read Blogs!
        %hr/
        %a.large.button.expand{:href => "#"}
          = t 'valeriy'
        %a.large.button.expand{:href => "#"}
          = t 'svetlana'
        %a.large.button.expand{:href => "#"}
          = t 'yaroslava'
      / End Content
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright FamilyBlogs 2013.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
= yield
= javascript_include_tag "application"
